@font-face {
    font-family: 'font';
    src: url('https://ff.static.1001fonts.net/v/a/valium.regular.ttf') format(truetype),
      url('https://ff.static.1001fonts.net/f/r/frank-knows.regular.ttf') format(truetype);
}

#but, #timer, #time {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 300;
    font-family: 'font', Valium;
    color: white;
}
#but {
    font-size: 100;
    height: 1em;
}
#time {
    height: 1.5em;
    font-family: 'font', Frank Knows;
}
a {
    text-decoration: none;
    color: gray;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}