.main{
    background-color: black;
    padding-top: 80px;
}

.videos{
    margin-top: 3%;
}

.tabs{
    color: white;
}

.tabs:hover{
    color: rgb(190, 190, 190);
}

#title{
    color: white;
    font-family: Raleway;
    font-weight: 900;
}

#code{
    margin-top: 40px;
    margin-bottom: 100px;
    width: 130px;
    height:30px;
}

.title{
    width:500px;
    height:150px;
    background: -96px -200px no-repeat;
}
#myVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.z{
    position: relative;
    z-index: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}